# Backup files
*.tar.gz
*.BAK
*.bak
*.sav
*.backup
*~[0-9]*
*~
*.synctex.gz
*.tmp
tmp.*
*.swp

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.dvi
*.ps
*.eps
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.idx
*.ilg
*.ind
*.ist

